{%extends 'base.html' %}

{%block content%}

<div class="d-flex flex-column mb-3 align-items-center">
    <p class="buffer"></p>
    <h4>About Timeline Tailor</h4>
    <p class="buffer"></p>  
    <p class =  "text-center">
        Timeline Tailor produces chronologies of the events described in unstructured text.
        It can be used to build a timeline from wikipedia articles to legal judgments.
        Simply copy and paste your source text and away you go.
    </p>
    <p class="buffer"></p>  
    <p class =  "text-center">
        Melbourne, Australia.
    </p>
    <p class="buffer"></p>  
    <p class =  "text-center">
        Please forward any enquiries to Damian at:  <b>timelinetailor@gmail.com</b>
    </p>
    <p class="buffer"></p>
</div>

{%endblock content%}