{%extends 'base.html' %}

{%block content%}

<div class="d-flex flex-column mb-3 align-items-center">
    <p class="buffer"></p>
    <h4>Timeline Tailor Help</h4>
    <p class="buffer"></p> 
    <p><b>To produce a timeline, follow these steps:</b></p>
    <p>1. Copy text from another document or website. We recommend using Ctrl+A, Ctrl+C over the entire source document (references and footnotes included - Timeline Builder can parse them out). We presently support a minimum of 500 characters and a maximum of 500,000 characters (~100,000 words)</p>
    <p>2. Paste the text into the main text box on the home page.</p>
    <p>3. Click "Get Timeline" and wait until processing completes. This may take a minute or so, especially if the text is large.</p> 
    <p class="buffer"></p>
    <p class="buffer"></p>
    <p><b>Here are some examples we have processed already:</b></p>
    <p>
        A history of <a href="https://www.timelinetailor.com/results/a6e580c62bf11ff968aa9679ebfacde8a4d120fa" target="_blank">The Beatles</a> (from <a href="https://en.wikipedia.org/wiki/The_Beatles" target="_blank">The Beatles Wikipedia</a>).
    </p>
    <p>
        The famous Australian legal case of <a href="https://www.timelinetailor.com/results/3e13426500e3c86024116d65d5323edda3c069f7" target="_blank">Chamberlain v The Queen</a> (from <a href="https://www.austlii.edu.au/cgi-bin/viewdoc/au/cases/cth/HCA/1984/7.html" target="_blank">The Original High Court Judgment</a>).
    </p>
    <p class="buffer"></p>
</div>

{%endblock content%}